*.o
*.so
config.log
config.status
src/Makevars

pkg/C50/config.log
pkg/C50/config.status
pkg/C50/src/C50.so
pkg/C50/src/Makevars

pkg/C50.Rcheck

revdep/*.noindex

.DS_Store

revdep/data.sqlite

.Rproj.user
.Rhistory
docs
tests/testthat/Rplots.pdf
^\.vscode$
pr-comments.md
